{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інтерактивна Карта</title>
    <link rel="stylesheet" href="{% static 'volunteer_app/styles.css' %}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>

    <div class="top-menu">MilitaryTinder</div>

    <main>
        <div id="map" style="height: 500px;"></div>
    </main>

    <div class="bottom-menu">
        {% if request.path == '/map/' %}
            <a href="{% url 'home' %}">🏠</a>  
        {% else %}
            <a href="{% url 'map' %}">🔥</a>  
        {% endif %}
        <a href="{% url 'chat' %}">☰</a>
        <a href="{% url 'profile' %}">👤</a>
    </div>

    <script>
        var map = L.map('map').setView([48.3794, 31.1656], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([48.3794, 31.1656]).addTo(map)
            .bindPopup('<b>Україна</b><br>Тут можна додати інші мітки.')
            .openPopup();
    </script>

</body>
</html>
